<div class="px-10 mt-10">
  <h1 class="text-5xl"> Welcome to Admin dashboard!</h1>
  <div class="flex gap-4 mt-8">
 
    <%= link_to "New Product", new_product_path, class: "p-2 rounded-lg bg-blue-500 text-blue-100" %>

    <%= link_to "New Category", new_category_path, class: "p-2 rounded-lg bg-indigo-500 text-green-100" %>
  </div>
</div>
